body {
    background-color: rgb(0, 176, 230);   
  }


.encabezado
{
    background-color: rgb(12, 77, 218);
    display: flex;
    position: relative;
    margin: auto;
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
}

.logoIzquierda {
  width: 15%;   
    float: left;
    max-height: fit-content;
    border-radius: 10px;
}

.logoCentro {
  width: 70%;   
    float: left;
    max-height: fit-content;
    border-radius: 10px;
}

.logoDerecha{
  width:15%;  
  float: right;
  border-radius: 10px;
  color: rgb(19, 57, 226);
    background-color: rgb(240, 236, 11);
    border:solid 1px rgb(1, 127, 245);
    text-transform: uppercase;
    text-size-adjust: 50%;
    letter-spacing: 2px;
    max-height: fit-content;
    padding: 5% ;
}


.top  { 
    width: 70%;
    align-self: center;
     color: rgb(252, 249, 249);
    text-align: center;
    margin-top: 8px;
    
     }

.barraNavegacion{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 77, 218);
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
}

.enlaceBarraIzq {
  float: left;
  margin: 3px;
  background-color: rgb(229, 233, 236);
  border-radius: 5px;

  }


a {
  display: flex;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

a:hover {
  background-color: #e7880a;
    color: rgb(228, 225, 222);
}

.enlaceBarraDer {
  float:right;
  margin: 3px;
  background-color: rgb(229, 233, 236);
  border-radius: 5px;
}

.navegacionIzq {
  width: 20%;
  float: left;
  list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: rgb(12, 77, 218);
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
}

img{
  width: 100%;
}

.imgIzquierda{
float: right;
width: 50%;
padding: 4px;
}
.centro {
  width: 60%;
  background-color: rgb(12, 77, 218);
  border: 1px solid rgb(182, 172, 172);
  border-radius: 10px;  
}

p{
  color: aliceblue;
  padding: 4px;
  margin: 4px, 4px;
  text-align: justify;
  width: 100%;
}

.centrado{
  text-align: center;
}

.aside{
  float: right;
  width: 20%;
  background-color: rgb(12, 77, 218);
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
  text-align: center;  
  padding: 1.5%;
  
}

.seccion {
  display:flex;
    }

footer {
  width: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 77, 218);
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
}

iframe{
  width: 100%;
  margin:3px;
  padding: 2px, 2px, 2px, 2px;
  
}

form, label, input {
  width: 100%;  
  margin: 3px;
 
}

textarea {
  overflow:hidden;
  width: 100%;
  margin: 3px;
  padding: 2px, 2px, 2px, 2px;
}

