body {
    background-color: rgb(76, 210, 228);   
  }


header
{
    background-color: rgb(12, 77, 218);
    display: block;
    position: relative;
    margin: auto;
    border: 1px solid rgb(182, 172, 172);
    border-radius: 10px;
}

.top  { 
    align-self: start;
       color: rgb(252, 249, 249);
    text-align: center;
    margin-top: 8px;
    
     }

.columnas {
  display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(34, 145, 219);
}

.colum {
  background-color: rgb(63, 94, 151);
    width: auto;
    height: auto;
    margin: 5px;
}

.logoImpo {
  width: 15%;   
    float: left;
}


.logoEmpresa{
  width:15%;
    float: right;
}
