.CeldaEncabezado
{
	font-family:  Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
}
.LigasPaginas { font-family: Helvetica,  Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #FF6600; text-decoration: none }
.TextoContenido { font-family:  Helvetica, sans-serif; font-size: 11pt; font-style: normal; font-weight: normal; color: #28437d; text-decoration: none }
.TextoEncabezado { font-family: Helvetica; font-size: 10pt; font-style: normal; font-weight: normal; color: #28437d }
.TextoControl {
width: 687px;
height: 30px;
font-size: 12pt;
font-family: Helvetica;
font-weight: bold;
color: black;
border-width: thin;
border-style: solid;
border-color: #F96302;
}
.TextoControlMinuscula {
	font-family: Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333366;
	text-align: left;
	white-space: normal;
	clip:   rect(   );
	border-top: thin;
	border-bottom: thin inset;
	border-left-style: none;
	border-right-style: none;
	border: 1px #336699 solid;
    text-transform: lowercase;
}
.TextoControlMayuscula {
	font-family: Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #333366;
	text-align: left;
	white-space: normal;
	clip:   rect(   );
	border-top: thin;
	border-bottom: thin inset;
	border-left-style: none;
	border-right-style: none;
	border: 1px #336699 solid;
    text-transform: uppercase;
}
.Tabla { border: 1px #AEAEAE solid; clip: rect(   ); background-color: #FFFFFF }
.TablaBordes {  border: 1px #FFFFFF solid; background-color: #FFFFFF; font-family: Helvetica; font-size: 9pt; font-weight: normal; color: #28437D }
.LigasRegistro {  font-family: Helvetica; font-size: 10pt; color: #000033; text-decoration: none; font-weight: normal; border-style: none }
.TemplateContenido {  font-family: Helvetica; font-size: 8pt; color: #28437D; text-decoration: none; font-weight: normal }
.MensajeExito {  font-family: Helvetica ; font-size: 8pt; font-weight: normal; color: maroon; text-decoration: none}
.TextoEncabezadoBlanco {  font-family:  Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #FFFFFF; }
.TextoControlVerde {  border: 1px #43752B solid; font-family:  Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #284394 }
.TextoControlNegrita {  font-family:  Helvetica, sans-serif; font-size: 9pt; font-weight: bolder; color: #333366; text-decoration: none; border: 1px #336699 solid; text-align: left }
.Formas {
	font-family: Helvetica, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	border: 1px solid #3D7BA0;
}
A:link {
	text-decoration: none;
	}
A:visited { text-decoration: none }
A:hover { cursor: pointer; text-decoration: underline; font-size: 17px; }
A:active { }
BODY {
	scrollbar-face-color: #C2CDF8;
	scrollbar-shadow-color: white;
	scrollbar-highlight-color: white;
	scrollbar-3dlight-color: white;
	scrollbar-darkshadow-color: white;
	scrollbar-track-color: white;
	scrollbar-arrow-color: white;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.txtCantidad{
	font-family:  Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #28437d;
	text-decoration: none;
	width: 80px;
}
.TablaCeldaTitulo {
	font-family:  Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #28437d;
	text-decoration: none;
	background-color: #e3e8f1;
}

.TablaMayusculas {
        padding: 1px;
	    border-collapse: collapse;
        border: 1px solid #000066;
		font-family: Helvetica,  Helvetica, sans-serif;
        font-size:9px;
        color: #F58821;
}

.tablaLblMensaje {
    width: 350px;
    float:right;
}

.tablaMensajeImg {
    position:center;
    border-collapse: collapse;
    border-style: none;
}

.TextoContenidoBlanco {  font-family:  Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; color: #ffffff; text-decoration: none}
.TextoContenidoRojo {  font-family:  Helvetica, sans-serif; font-size: 11pt; font-style: normal; font-weight: normal; color: #c20829; text-decoration: none}
.TextoEncabezadoEcommerce { font-family: Helvetica, Helvetica; font-size:larger; text-align:center; font-weight:bold; color: #28437d; }

.TextoContador
{
	font-family: Helvetica,  Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	color: #28437d;
	text-decoration: none;
	width: auto;
}

#lblCalculoEnvio {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    padding-left: 160px;
}

#lblIngreseDirecc, #direccion {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    position: static;
}

.numCarrito {
    text-align: center;
    position: absolute;
    top: 58px;
    height: 0px;
    width: 0px;
    padding: 0px 0px 0px 50px;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    color: #2571FB;
}

.botonForget, .botonAceptar, .botonNew {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    height: 30px;
    width: 220px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnMensajeSi, .btnMensajeNo, .btnMensajeCancelar, .btnContinuarFin {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnDireccion {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    height: 40px;
    width: 200px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnMensajeImg, .btnContinuarEnvio {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnSiRegDatosFiscales, .btnNoRegDatosFiscales {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    height: 30px;
    width: 200px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnBuscaCP {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    height: 20px;
    width: 80px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnborrarInput {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    height: 25px;
    width: 150px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    margin-left: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    outline: none;
    transition: all .2s ease-in-out;
}

.btnPoliticasPrivacidad, .btnPoliticas {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    height: 30px;
    width: 180px;
    background-color: #FC7613;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    margin: 15px;
    transition: all .2s ease-in-out;
}

.btnMensajeImg:hover, .btnContinuarEnvio:hover, .btnDireccion:hover, .btnMensajeSi:hover, .btnMensajeNo:hover, .btnMensajeCancelar:hover, .btnContinuarFin:hover, .botonForget:hover, .botonAceptar:hover, .botonNew:hover,
.btnSiRegDatosFiscales:hover, .btnNoRegDatosFiscales:hover, .btnBuscaCP:hover, .btnborrarInput:hover, .btnPoliticasPrivacidad:hover, .btnPoliticas:hover {
	background-color: #FC4F13;
	transform: scale(1.1);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19), 0 20px 45px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}

#TablaRegistro {
    width: 70%;
    font-family: Helvetica, Helvetica;
    color: #3e3d3d;
    font-size: 14px;
    font-weight: bold;
    background-color: #F5F5F5;
}

.tituloCampo {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 3px;
    }
.Campo {
    float: left;
    padding-left: 3px;
    }
.Clear { height: 4px; }
.BotonAccion {
     float: right;
     text-align: right;
     padding-right: 5px;
     padding-top: 10px;
     padding-bottom: 3px;
     }

.btnEnviarRegistro, .btnBorrarRegistro, .inpRefresh {
    border-radius: 10px;
  	cursor: pointer;
    transition: all .2s ease-in-out;
}

.btnEnviarRegistro:hover, .btnBorrarRegistro:hover, .inpRefresh:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.inpCaptcha {
     text-align: center;
     border: none;
}

.inpRefresh {
    background-color:darkorange;
    color: #ffffff;
    display:inline-block; 
    float:right;
    margin-left:10px;
    margin-top:10px;
}

.divNota {
    text-align: center;
    width: 100%;
}

.lblNota {
    color: #CE3C1D;
    font-size: 18px;
}

.btnListadoImagenesCol1, .btnListadoImagenesCol2{
    transition: all .3s ease-in-out;
}
.btnListadoImagenesCol1:hover {
    /*background-color: #FC4F13;*/
	transform: scale(1.1);
	/*box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.21),0 20px 45px 0 rgba(0,0,0,0.19);*/
    transition: all .3s ease-in-out;
    animation: colorDebajoCol1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colorDebajoCol1 {
  0% {box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.21), 0 20px 45px 0 rgba(0,0,0,0.19);}
  50% {box-shadow: 0px 10px 15px 0px #2e52b5;}
  100% {box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.21), 0 20px 45px 0 rgba(0,0,0,0.19);}
}

.btnListadoImagenesCol2:hover {
    /*background-color: #FC4F13;*/
	transform: scale(1.1);
	/*box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.21),0 20px 45px 0 rgba(0,0,0,0.19);*/
    transition: all .3s ease-in-out;
    animation: colorDebajoCol2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colorDebajoCol2 {
  0% {box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.21), 0 20px 45px 0 rgba(0,0,0,0.19);}
  50% {box-shadow: 0px 10px 15px 0px #1dba34;}
  100% {box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.21), 0 20px 45px 0 rgba(0,0,0,0.19);}
}

.divBackGroundPoliticasPrivacidad, .divBackGroundPoliticas {
    left:0; 
    top: 0; 
    position:fixed; 
    width:100%; 
    height: 100%;
    background-image: url('/images/negro.png'); 
    background-repeat: repeat; 
    z-index: 3000;
}

.divContainerPoliticasPrivacidad, .divContainerPoliticas {
    width: 1154px; 
    height: 477px; 
    margin: 30px auto 0 auto;
    vertical-align: middle; 
    text-align: center; 
    z-index: 3000000; 
    background-color:white; 
    -webkit-box-shadow: 5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px #000;
    filter: shadow(color=#000000, direction=135, strength=5); 
    box-shadow: 5px 5px 5px #000;
}

.imgLogoPoliticasPrivacidad, .imgLogoPoliticas {
    float: left;
    width: 200px;
}

.tituloPoliticasPrivacidad, .tituloPoliticas {
    text-align: center; 
    background-color: #F58821; 
    color: white; 
    float: right; 
    height: 80px; 
    width: 600px;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0 0;
}

.imgClosePoliticasPrivacidad, .imgClosePoliticas {
    Width: 30px;
    float: right; 
    margin-right: 15px; 
}

.divRecuadroPoliticasPrivacidad {
    height: 334px; 
    width:90%; 
    overflow: hidden auto; 
    margin: 0 auto 0 auto;
}

.subtituloPoliticasPrivacidad, .subtituloPoliticas {
    font-size: 20px;
	font-weight: 600;
	font-family: Helvetica;
	color: #DB5B0F;
    padding: 20px 0 15px;
    text-align: center;
}

.divDetallesPoliticasPrivacidad {
    font-family: Calibri, sans-serif;
    width: 1017px; 
    text-align: justify;
    color: #FC7613;
    font-size: 18px;
}

.divDetallesPoliticasPrivacidad h6 {
    font-size: 20px;
}

.divDetallesPoliticasPrivacidad ul {
    list-style-type: none;
}

.divDetallesPoliticas {
    font-family: Calibri, sans-serif;
    width: 1100px;
    height: 330px;
    text-align: justify;
    color: #FC7613;
    font-size: 18px;
    padding: 10px 20px 20px;
    overflow: auto auto;
}

.divDetallesPoliticas dt{
    padding: 5px 0 15px 20px;
    font-weight: 600;
}

.divDetallesPoliticas dd {
    text-align: justify;
    padding: 0 0 20px 0;
}

.metodoPago, tr, td {
    
}

.ImgBtnPagoEfectivo {
    height: 130px;
    width: 350px;
    background-color: #eeeeee;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    outline: none;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19), 0 20px 45px 0 rgba(0,0,0,0.19);
    transition: all .3s ease-in-out;
}

.ImgBtnMercadoPago {
    height: 120px;
    width: 350px;
    background-color: #eeeeee;
    border: none;
    border-radius: 12px;
  	cursor: pointer;
    outline: none;
    outline: none;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19), 0 20px 45px 0 rgba(0,0,0,0.19);
    margin-left: 200px;
    transition: all .3s ease-in-out;
}

.ImgBtnPagoEfectivo:hover, .ImgBtnMercadoPago:hover {
	background-color: #ffffff;
	transform: scale(1.07);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 30px 0 rgba(0,0,0,0.19), 0 20px 45px 0 rgba(0,0,0,0.19);
    transition: all .3s ease-in-out;
}

/*.lbDescuentoCol1, .lbDescuentoCol2 {
    font-size: 30px;
    color: #cb0000;
    background-color: rgba(211, 211, 211, 0.8);
    font-family: Arial, Helvetica;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-top: 5%;
    margin-left: -9%;
    transform: rotate(-25deg);
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
}*/
    
.lbDescuentoCol1, .lbDescuentoCol2 {
    /*border: solid 1px black;*/
    width: 90px;
    height: 90px;
    font-size: 30px;
    color: #FFFFFF;
    /*background-color: rgba(211, 211, 211, 0.8);
    transform: rotate(-25deg);
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.3);*/
    font-family: Arial, Helvetica;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    margin-top: 3%;
    margin-left: -9%;
    background-image: url('/Images/oferta.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.lbDescuentoCol1:hover, .lbDescuentoCol2:hover {
    font-size: 30px;
    text-decoration-line: none;
}

.lbDescuento:hover + .btnListadoImagenesCol1 {
    /*background-color: #FC4F13;*/
	transform: scale(1.1);
	/*box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.21),0 20px 45px 0 rgba(0,0,0,0.19);*/
    transition: all .3s ease-in-out;
    animation: colorDebajoCol1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.tablaFormasPagoAceptados {
    width: 60%;
    text-align: center;
    border-spacing: 20px;
}

.tablaFormasPagoAceptados td {
    border: 1px solid #8b8b8b;
}

.imgCarruselDetalle {
    width: 50px;
    height: 50px;
}